- hosts: webnode
  become: true
  tasks:
    - name: Delete old deployment (ignore if not exists)
      command: kubectl delete -f /home/ubuntu/Deployment.yml --kubeconfig=/home/ubuntu/.kube/config
      ignore_errors: true

    - name: Delete old service (ignore if not exists)
      command: kubectl delete -f /home/ubuntu/Service.yml --kubeconfig=/home/ubuntu/.kube/config
      ignore_errors: true

    - name: Apply deployment
      command: kubectl apply -f /home/ubuntu/Deployment.yml --kubeconfig=/home/ubuntu/.kube/config

    - name: Apply service
      command: kubectl apply -f /home/ubuntu/Service.yml --kubeconfig=/home/ubuntu/.kube/config

    - name: Copy Deployment.yml to webnode
      copy:
        src: Deployment.yml
        dest: /home/ubuntu/Deployment.yml
        owner: ubuntu
        group: ubuntu
        mode: "0644"

    - name: Copy Service.yml to webnode
      copy:
        src: Service.yml
        dest: /home/ubuntu/Service.yml
        owner: ubuntu
        group: ubuntu
        mode: "0644"
