- hosts: webnode
  become: true
  tasks:
    - name: Copy Deployment.yml to webnode
      copy:
        src: Deployment.yml
        dest: /home/ubuntu/Deployment.yml
        owner: ubuntu
        group: ubuntu
        mode: "0644"

    - name: Copy Service.yml to webnode
      copy:
        src: Service.yml
        dest: /home/ubuntu/Service.yml
        owner: ubuntu
        group: ubuntu
        mode: "0644"

    - name: delete old deployment
      command: kubectl delete -f /home/ubuntu/Deployment.yml --kubeconfig=/home/ubuntu/.kube/config
      ignore_errors: true

    - name: delete old service
      command: kubectl delete -f /home/ubuntu/Service.yml --kubeconfig=/home/ubuntu/.kube/config
      ignore_errors: true

    - name: create new deployment
      command: kubectl apply -f /home/ubuntu/Deployment.yml --kubeconfig=/home/ubuntu/.kube/config

    - name: create new service
      command: kubectl apply -f /home/ubuntu/Service.yml --kubeconfig=/home/ubuntu/.kube/config

