apiVersion: v1
kind: Service
metadata:
  name: myfirstdevopsservice
spec:
  selector:
    name: myapp
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30000
